# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Mapbox
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=
MAPBOX_ACCESS_TOKEN=

# AI
GOOGLE_AI_API_KEY=
ANTHROPIC_API_KEY=

# EP-online (RVO energie labels)
EPONLINE_API_KEY=
